@font-face {
  font-family: 'Tiempos Text';
  src: local('Tiempos Text'),
    url(./fonts/TiemposTextWeb-Regular.woff) format('woff'),
    url(./fonts/TiemposTextWeb-Regular.ttf) format('truetype');
}

* {
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #0d0d0d;
}

body {
  font-family: Arial, sans-serif;
}
